.header {
  height: var(--header-height);
  margin: 0 var(--page-padding);
  width: calc(100% - 2 * var(--page-padding));
  position: fixed;
  top: 0;
  z-index: 1000;

  background-color: var(--background-color);

  align-items: center;
  justify-content: space-between;

  height: calc(var(--header-height) - var(--item-gap));
  background-color: #181818;
  padding: 0 10px;
}

.left-row {
  column-gap: 10px;
}

.logo {
  position: relative;
  width: 120px;
  height: 62px;
  cursor: pointer;
}

.price-menu {
  > button {
    span {
      margin-left: 4px;
    }
  }
}

.avatar {
  text-transform: capitalize;
}
