.header {
  height: var(--header-height);
  width: 100%;
  padding: 0 16px;
  position: fixed;
  top: 0;
  z-index: 1000;

  align-items: center;
  justify-content: space-between;
}

.left-row {
  column-gap: 10px;
}

.logo {
  position: relative;
  width: 120px;
  height: 62px;
  cursor: pointer;
}

.price-menu {
  > button {
    span {
      margin-left: 4px;
    }
  }
}

.avatar {
  text-transform: capitalize;
}

.autocomplete {
  width: 380px;

  border: 1px solid var(--gray-800);
  border-radius: var(--border-radius);

  .MuiAutocomplete-popupIndicator {
    margin-left: 20px;
    background-color: aqua;
  }
}
