@import "../typography.scss";

.item-card {
  row-gap: 8px;
  cursor: pointer;
}

.item-price {
  font-weight: 600;
  font-size: 24px;
}

.item-category {
  color: var(--secondary);
}

.item-skin {
  font-weight: 600;
  font-size: 18px;
}

.item-exterior {
  @extend %caption;
}

.item-img {
  position: relative;
  width: 140px;
  height: 140px;
}

// Banner

.item-banner {
  height: fit-content;
}

.item-detail {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding: 32px;

  .item-category {
    font-size: 18px;
  }

  .item-skin {
    font-size: 22px;
  }

  .item-exterior {
    font-size: 14px;
  }

  .item-price {
    margin-top: 10px;
    font-size: 38px;
  }
}

.image-container {
  position: relative;
  width: 200px;
  height: 200px;
}
