@import "../typography.scss";

.item-card {
  row-gap: 10px;
  cursor: pointer;
}

.item-price {
  font-weight: 600;
  font-size: 24px;
}

.item-name {
  color: var(--secondary);
}

.item-skin {
  font-weight: 600;
  font-size: 18px;
}

.item-exterior {
  @extend %caption;
}

.item-img {
  position: relative;
  width: 140px;
  height: 140px;
}
