@import "../typography.scss";

.item-card {
  row-gap: 8px;
  cursor: pointer;
}

.item-price {
  font-weight: 600;
  font-size: 24px;
}

.item-category {
  color: var(--secondary);
}

.item-skin {
  font-weight: 600;
  font-size: 18px;
}

.item-exterior {
  @extend %caption;
}

.item-img {
  position: relative;
  width: 140px;
  height: 140px;
}

// Banner

.item-banner-card {
  row-gap: 12px;

  .item-category {
    font-size: 20px;
  }

  .item-skin {
    font-size: 26px;
  }

  .item-exterior {
    font-size: 18px;
  }

  .item-price {
    margin-top: 18px;
    font-size: 44px;
  }
}

.item-banner-card {
  padding: var(--banner-padding);
  height: 350px;

  row-gap: 8px;
}

.image-container {
  position: relative;
  width: 240px;
  height: 240px;

  margin: 0 auto;
}

.item-actions {
  margin-top: auto;
  width: 100%;
  column-gap: 4px;
}

.preview-wrapper {
  height: 350px;
  padding: var(--banner-padding);
}

.preview-actions {
  width: 100%;
  column-gap: 16px;
  justify-content: space-between;

  margin-top: 16px;
}

.preview-link {
  column-gap: 4px;
}

.sub-btn {
  width: 420px;
  height: 54px;
}

.sub-count {
  width: 54px;
  height: 54px;
}

.item-breadcrumb {
  margin-left: 0;
}

.sub-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 700px;

  padding: 32px;

  h6 {
    margin-bottom: 8px;
  }
}

.sub-list-modal {
  width: 500px;
  overflow-y: scroll;
  max-height: 80%;
}

.label-row {
  column-gap: 8px;
  align-items: center;
  padding: 8px 0;

  .label-row-label {
    text-transform: capitalize;
    font-weight: 500;
  }
}

.sub-item {
  justify-content: space-between;
}

.sub-list-item {
  padding: 4px 0;
  flex: 1;
}

.sub-actions {
  flex-direction: column;
  height: fit-content;
  margin-top: auto;
  margin-bottom: auto;
  width: fit-content;
}

.sub-item-seeds {
  column-gap: 4px;
  row-gap: 4px;
  flex-wrap: wrap;
  flex: 1;
}

.sub-form {
  :global(.label) {
    margin: 16px 0 12px 0;
  }

  .sub-submit-btn {
    margin-top: 24px;
    height: 46px;
  }
}

.chip-options {
  column-gap: 8px;

  > * {
    text-transform: capitalize;
  }
}
