.item-transaction-card {
  padding: 24px;
}

.tran-days-tabs {
  margin-left: auto;
  margin-right: 28px;

  column-gap: 8px;
}

.tran-days-tab {
  cursor: pointer;
  letter-spacing: 1px;

  &.active {
    color: var(--primary);
    border-bottom: 1px solid var(--primary);
    padding-bottom: 2px;
  }
}

.item-icon-preview {
  width: fit-content;
  height: fit-content;
}

.icon-cell {
  padding-top: 4px !important;
  padding-bottom: 4px !important;

  width: 40px;
}

.btn-cell {
  width: 40px;
}

.item-listings-card {
  padding: 12px 12px;
}
