.item-transaction-card {
  padding: 24px;
}

.tran-days-tabs {
  margin-left: auto;
  margin-right: 28px;

  column-gap: 8px;
}

.tran-days-tab {
  cursor: pointer;
  letter-spacing: 1px;

  &.active {
    color: var(--primary);
    border-bottom: 1px solid var(--primary);
    padding-bottom: 2px;
  }
}

.item-icon-preview {
  height: 36px;
  width: 36px;
}

.icon-cell {
  padding-top: 4px !important;
  padding-bottom: 4px !important;

  width: 40px;
}

.btn-cell {
  width: 40px;
}

.item-listings-card {
  padding: 24px;
}

.banner-title {
  font-weight: 600;
  font-size: 22px;
  margin-top: 12px;

  margin-bottom: 24px;
  text-transform: uppercase;
}

.recent-table {
  margin-top: 14px;
}
